body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container,
.nav,
.nav-list,
.address-list,
.features-list,
.team-list,
.portfolio-list {
  display: flex;
}

.header-container,
.nav,
.address-list {
  align-items: center;
}

.header-container {
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-dark {
  color: #2e2f42;
}

.logo-light {
  color: #f4f4fd;
}

.nav-list,
.address-list {
  gap: 40px;
}

.nav-link,
.address-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.hero {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-size: 56px;
  color: white;
  text-align: center;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  background: #4d5ae5;
  color: white;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background: #404bbf;
}

.features-list,
.team-list,
.portfolio-list {
  gap: 24px;
}

.icon-box {
  height: 112px;
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.team {
  background: #f4f4fd;
}

.team-item {
  background: white;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.team-content,
.portfolio-content {
  padding: 32px 16px;
  text-align: center;
}

.portfolio-list {
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.16);
}

.portfolio-image-wrap {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #4d5ae5;
  color: white;
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}